@import "../../../styles/variables";

.link {
  font-size: 0.7rem;
  color: $text-darkMode-clr;
  padding: 0.4rem 1.2rem;
  border: 1px solid $text-darkMode-clr;
  border-radius: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: rgba($hover-clr, 0.2);
  }

  @media (max-width: 500px){
    margin-left: 0;
  }
}
