@import "@styles/variables";
@import "@styles/mixins";

.collection {
  max-width: 100%;
  min-height: 80vh;

  position: sticky;
  top: 0;

  @include flex(center, center);

  margin: 0 auto;
  text-align: center;
}

.article {
  max-width: 600px;
  width: 100vh;
  height: 50vh;
  flex-direction: column;
  @include flex(center, center);
}

.date {
  margin-bottom: 4rem;
}

.heading {
  font-family: "Roslindale-Light", sans-serif;
  font-size: clamp(2rem, 0.5rem + 4vw, 5rem);
}

.img {
  position: absolute;
}

.imgLeft {
  // left: 30%;
  // transform: rotate(-10deg);
  transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateZ(0);
  transform-style: preserve-3d;
}

.imgRight {
  // right: 30%;
  // transform: rotate(10deg);
  transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateZ(0);
  transform-style: preserve-3d;
}

.light {
  .light {
    @include light-styles;
  }
}
