@import "@styles/variables";
@import "@styles/mixins";

.collection {
  height: 100vh;

  position: -webkit-sticky;
  position: sticky;
  top: 5rem;

  @include flex(center, center);

  margin-top: 5rem;
  text-align: center;

  @media (max-width: 800px) {
    height: 70vh;
  }
}

.article {
  position: absolute;

  max-width: 600px;
  width: 100vh;
  height: 60vh;
  @include flex(flex-start, center);
  flex-direction: column;

  // @media (max-width: 800px) {
  //   height: 40vh;
  // }
}

.date {
  margin-bottom: 4rem;
}

.heading {
  font-family: "Roslindale-Light", sans-serif;
  font-size: clamp(2rem, 0.5rem + 5vw, 7rem);
  line-height: 1;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
}

.img {
  position: absolute;
  top: -7rem;
  border-radius: 1rem;
}

.light {
  @include light-styles;
}
